<section>
    <header>Home</header>
    <div class="laff-section-copy">
        <p>
            Hello! Welcome to my website. I host a few things here, and generally use it as a staging ground for any tools/utilities I make.
        </p>
    </div>
    <div class="laff-section-copy">
    </div>
</section>
<section>
    <header>Tools</header>
    <div class="laff-section-copy">
        <p>
            Sometimes I make tools.
        </p>
        <ul>
            <li><a href="/worldbuilder.html">Region Builder</a></li>
            <li><a href="/timedistance.html">Time/Distance calculator</a></li>
            <li><a href="/bladesclock.html">BitD Clock Tracker</a></li>
        </ul>
    </div>
</section>
<section>
    <header>Games</header>
    <div class="laff-section-copy">
        <p>
            I like to make games. I prefer using Godot, but I've used a good chunk of the commercially available game engines.
        </p>
        <ul>
            <li><a href="https://lafferty.itch.io/junkyard-brawl">Junkyard Brawl</a></li>
            <li><a href="https://lafferty.itch.io/nursery-mania">Nursery Mania</a></li>
            <li><a href="https://lafferty.itch.io/dice-heroes">Dice Heroes</a></li>
            <li><a href="https://lafferty.itch.io/chart-the-stars">Chart the Stars</a></li>
            <li><a href="https://lafferty.itch.io/sky-high">Sky High</a></li>
        </ul>
    </div>
</section>
<section>
    <header>Writing</header>
    <div class="laff-section-copy">
        <ul>
            <li><a href="/medievaldemo.html">Medieval Demographics</a> (Notably, I don't agree with a lot of stuff that is in here anymore. I've been a big fan of <a href="https://acoup.blog/">ACOUP</a> which helped me realize how little I know about "medieval" demographics.)</li>
            <li><a href="https://github.com/LaffertyDev">Github</a></li>
        </ul>
    </div>
</section>