@use 'sass:color';

$first-colour: hsl(355, 100%, 50%);

$primary-colour: rgb(214.2, 40.8, 55.25);

// Primary neutrals, highlight, midtone, shadow`
$primary-neutral: rgb(169.116, 85.884, 92.82);
$primary-neutral-light: rgb(225.79944, 197.50056, 199.8588);
$primary-neutral-dark: rgb(57.49944, 29.20056, 31.5588);

// Primary tint and shade
$primary-light: rgb(219.419748, 111.315252, 120.32396);
$primary-dark: rgb(143.684748, 35.580252, 44.58896);

$complementary-colour: rgb(33.15, 221.85, 206.125);

// Complementary Neutrals, highlight, midtone, shadow
$complementary-neutral: rgb(76.551, 178.449, 169.9575);
$complementary-neutral-light: rgb(194.32734, 228.97266, 226.08555);
$complementary-neutral-dark: rgb(26.02734, 60.67266, 57.78555);

// Complementary tint and shade
$complementary-light: rgb(105.679803, 225.055197, 215.1072475);
$complementary-dark: rgb(29.944803, 149.320197, 139.3722475);

// Pure neutrals, highlight, midtone, shadow
$white: rgb(251.56464, 248.23536, 248.5128);
$neutral-grey: rgb(127.5, 127.5, 127.5);
$primary-grey: rgb(87.465, 167.535, 160.8625);
$complementary-grey: rgb(100.1385, 154.8615, 150.30125);
$black: rgb(43.35, 43.35, 43.35);
$analogous-colour: rgb(33.15, 221.85, 80.325);
$complementary-analogous: rgb(33.15, 221.85, 123.097);

.colour-box {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.primary {
    background-color: $primary-colour;
}
.primary-neutral {
    background-color: $primary-neutral;
}
.primary-neutral-light {
    background-color: $primary-neutral-light;
}
.primary-neutral-dark {
    background-color: $primary-neutral-dark;
}
.primary-light {
    background-color: $primary-light;
}
.primary-dark {
    background-color: $primary-dark;
}
.complementary {
    background-color: $complementary-colour;
}
.complementary-neutral {
    background-color: $complementary-neutral;
}
.complementary-neutral-light {
    background-color: $complementary-neutral-light;
}
.complementary-neutral-dark {
    background-color: $complementary-neutral-dark;
}
.complementary-light {
    background-color: $complementary-light;
}
.complementary-dark {
    background-color: $complementary-dark;
}

.white { background-color: $white}
.neutral-grey { background-color: $neutral-grey}
.primary-grey { background-color: $primary-grey}
.complementary-grey { background-color: $complementary-grey}
.black { background-color: $black}
.analogous { background-color: $analogous-colour}
.complementary-analogous { background-color: $complementary-analogous}
