@use '../colors';
@use '../scssconstants';


button {
    &:hover {
        cursor: pointer;
    }
}

.#{scssconstants.$namespace}-btn-primary {
    background-color: colors.$primary-colour;
    border-color: colors.$primary-dark;
}


.#{scssconstants.$namespace}-btn {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    margin: 5px 0;
    border-radius: 5px;
}
