@use '../colors';
@use '../scssconstants';

.#{scssconstants.$namespace}-site-footer {
    border-top: 3px solid colors.$neutral-grey;
    background-color: colors.$complementary-neutral-dark;

    .#{scssconstants.$namespace}-footer-content {
        color: colors.$white;
    }
}
